<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Libro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST"
              th:action="@{/libro/editar/__${libro.id}__}">
            <input name="id"
                   hidden 
                   th:value="${id}">
            <input type="number"
                   name="isbn"
                   placeholder="ISBN"
                   th:value="${libro.isbn}">
            <input type="text"
                   name="titulo"
                   placeholder="Título"
                   th:value="${libro.titulo}">
            <input type="number"
                   name="anio"
                   placeholder="Año"
                   th:value="${libro.anio}">
            <input type="number"
                   name="ejemplares"
                   placeholder="Ejemplares"
                   th:value="${libro.ejemplares}">
            <input type="number"
                   name="ejemplaresPrestados"
                   placeholder="Ejemplares Prestados"
                   th:value="${libro.ejemplaresPrestados}">
            <select name="idAutor"
                    id="autor">
                <option th:if="${libro.autor!=null}"
                        th:each="autor:${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nombre}"
                        th:selected="${autor.id==libro.autor.id}">
                </option>
                <option th:unless="${libro.autor!=null}"
                        th:each="autor:${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nombre}">
                </option>
            </select>
            <label for="autor">
                Autor
            </label>
            <select name="idEditorial"
                    id="editorial">
                <option th:if="${libro.editorial!=null}"
                        th:each="editorial:${editoriales}"
                        th:value="${editorial.id}"
                        th:text="${editorial.nombre}"
                        th:selected="${editorial.id==libro.editorial.id}">
                </option>
                <option th:unless="${libro.editorial!=null}"
                        th:each="editorial:${editoriales}"
                        th:value="${editorial.id}"
                        th:text="${editorial.nombre}">
                </option>
            </select>
            <label for="editorial">
                Editorial
            </label>
            <input type="submit"
                   value="Editar">
            <p th:if="${error != null}" 
               th:text="${error}">
            </p>
            <p th:if="${exito != null}" 
               th:text="${exito}">
            </p>
        </form>
    </body>
</html>