<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p th:if="${exito!=null}"
           th:text="${exito}">
        </p>
        <p th:if="${error!=null}"
           th:text="${error}">
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Título</th>
                    <th scope="col">Año</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Ejemplares Prestados</th>
                    <th scope="col">Ejemplares Restantes</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="libro:${libros}">
                    <td th:text="${libro.isbn}"></td>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.anio}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.ejemplaresPrestados}"></td>
                    <td th:text="${libro.ejemplaresRestantes}"></td>
                    <td th:if="${libro.autor!=null}"
                        th:text="${libro.autor.nombre}"></td>
                    <td th:unless="${libro.autor!=null}"></td>
                    <td th:if="${libro.editorial!=null}"
                        th:text="${libro.editorial.nombre}"></td>
                    <td th:unless="${libro.editorial!=null}"></td>
                    <td>
                        <a th:href="@{/libro/editar/__${libro.id}__}">
                            Editar
                        </a> 
                    </td>
                    <td>
                        <a th:href="@{/libro/borrar/__${libro.id}__}">
                            Borrar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>