<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es"
      xmlns:th="http://www.thyemleaf.org">
    <head>
        <title>Prestamos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th scope="col">Fecha de Préstamo</th>
                    <th scope="col">Fecha de Devolución</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Cliente</th> 
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prestamo:${prestamos}">
                    <td th:text="${prestamo.fechaPrestamo}">
                    </td>
                    <td th:text="${prestamo.fechaDevolucion}">
                    </td>
                    <td th:text="${prestamo.libro.titulo}">
                    </td>
                    <td th:text="${prestamo.cliente.nombre} 
                        + ' ' + ${prestamo.cliente.apellido}">
                    </td>
                    <td>
                        <a th:href="@{/prestamo/cambiar-fecha/__${prestamo.id}__}">
                            Cambiar fecha de Devolución
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/prestamo/devolver/__${prestamo.id}__}">
                            Devolver
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
