<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Lista de Clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th scope="row">Documento</th>
                    <th scope="row">Nombre</th>
                    <th scope="row">Apellido</th>
                    <th scope="row">Teléfono</th>
                    <th scope="row">Editar</th>
                    <th scope="row">Borrar</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente:${clientes}">
                    <td th:text="${cliente.documento}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td>
                        <a th:href="@{/cliente/editar/__${cliente.id}__}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/cliente/borrar/__${cliente.id}__}">
                            Borrar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
